$col-bg: #111;
$col-bg-higher: #1a1a1a;
$col-bg-placeholder: $col-bg-higher;
$col-bg-placeholder-hover: lighten($col-bg-placeholder, 10%);
$col-text: #ffffff;
$col-text-dim: #8f8f8f;
$col-border: #333333;
$col-border-higher: #555555;
$col-accent: #11a2ca;
$col-scroll-thumb: #666666;
$col-scroll-track: #333333;
$col-interactive: lighten($col-accent, 20%);
$col-interactive-hover: lighten($col-accent, 50%);
$col-disabled: desaturate($col-interactive, 100%);
$col-warning: #b06f24;
$col-warning-hover: lighten($col-warning, 50%);

$dim-border-radius: 8px;

$mask-blur: blur(2px);

$page-break: 600px;
$page-width: 900px;

$z-index-header: 20;
$z-index-menu: 40;
$z-index-modal: 80;
$z-index-popover: 100;
$z-index-interactive-mask: 9999;

@function spacing($amount) {
  @return $amount * 8px;
}

@mixin fill {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

@mixin drop-shadow {
  box-shadow: 0 0 8px #000000;
}

@mixin inset-shadow {
  box-shadow: inset 0 0 4px #000000;
}