@import './vars';

html {
  background-color: $col-bg-higher;
  color: $col-text;
  font-family: 'Roboto', sans-serif;
  font-size: 11pt;
  font-weight: 300;
  overflow-x: hidden;
  scrollbar-color: $col-scroll-thumb $col-scroll-track;
  scrollbar-width: thin;
}

h1,
h2,
h3,
h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

hr {
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-top: 1px solid $col-border;
  display: block;
  height: 1px;
  margin: 0;
  padding: 0;
}

a {
  color: $col-interactive;
  text-decoration: none;
  font-weight: 600;

  &:hover {
    color: $col-interactive-hover;
  }

  &.active {
    color: $col-text;
  }
}

input,
textarea,
select {
  background-color: lighten($col-bg, 5%);
  border-radius: $dim-border-radius;
  border: 1px solid $col-interactive;
  color: $col-text;
  padding: spacing(1);
}

select {
  cursor: pointer;
}

li {
  margin: spacing(1) 0;
}

table {
  background-color: $col-bg;
  border-collapse: collapse;
}

th {
  background-color: $col-bg;
  font-size: unset;
  font-weight: unset;
  padding: spacing(1) 0;
  position: sticky;
  text-align: left;
  top: 0;
  z-index: 1;
}

.wrapper {
  @include fill;
  display: flex;
  flex-direction: column;
  gap: spacing(1);
  padding: spacing(1);

  header {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    gap: spacing(1);
    min-height: 0;
    position: relative;

    h1 {
      color: $col-border;
      font-family: "Tomorrow", sans-serif;
      font-size: 28px;
      font-weight: 800;
      left: 50%;
      margin: 0;
      position: absolute;
      top: 0;
      transform: translateX(-50%);
      user-select: none;
      z-index: -1;
    }

    .spacer {
      flex: 1;
    }
  }

  main {
    background-color: $col-bg;
    border-radius: spacing(1);
    flex: 1;
    overflow-y: auto;
    position: relative;
  }

  footer {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.menu {
  cursor: pointer;
  height: 32px;
  position: relative;

  &:hover {
    color: $col-interactive-hover;
  }
}

.menu-icon {
  height: 32px;
  width: 32px;
}

.fps {
  color: $col-text-dim;
  flex-shrink: 0;
  font-size: 10pt;
}

.message {
  color: $col-text-dim;
  flex-shrink: 1;
  font-size: 10pt;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.welcome-dialog {
  max-width: 40em;
}

.warning {
  color: $col-warning;
}

.button-row {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: spacing(2);
  justify-content: space-between;
  margin: spacing(1) 0;
}