.contents {
  position: absolute;
  display: flex;
  flex: 1;
  flex-direction: row;
  overflow-y: auto;
  inset: 0;
}

.grid {
  flex: 1;
  align-self: start;
  box-sizing: border-box;
  height: 100%;
  overflow-y: auto;
}

.list {
  flex-shrink: 0;
  box-sizing: border-box;
  height: 100%;
  overflow-y: auto;
}
