.dmx-universe {
  display: grid;
  grid-template-columns: repeat(10, auto);
  gap: var(--space-1);
  padding: var(--space-1);
}

.channel {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: var(--channel-size);
  height: var(--channel-size);
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--col-bg-higher);
  border: 1px solid transparent;
  border-radius: var(--dim-border-radius);

  &.warning {
    border-color: var(--col-warning);
  }

  .collision-warning {
    align-self: flex-start;
    box-sizing: border-box;
    padding: 0 var(--space-1);
    color: var(--col-warning);
  }

  .channel-description {
    align-self: flex-start;
    box-sizing: border-box;
    padding: 0 var(--space-1);
  }

  .fixture-name {
    max-width: 100%;
    overflow: hidden;
    color: var(--col-text-dim);
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .channel-type {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &.start-channel {
    border-color: var(--col-interactive);
    cursor: grab;

    &:hover {
      background-color: var(--col-bg-higher-hover);
      border-color: var(--col-interactive-hover);
    }
  }

  .channel-number {
    position: absolute;
    top: var(--space-0-5);
    left: var(--space-0-5);
    color: var(--col-text-dim);
  }
}

.editor {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
  min-width: 60em;
  padding: var(--space-1);

  button {
    margin: 0;
  }
}
