@use '../../_vars';

$channel-size: 100px;

.wrapper {
  @include vars.fill;
  display: flex;
  flex-direction: column;
}

.patch {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  min-height: 0;
  padding: vars.spacing(1) 0;
}

.tabWrapper {
  flex: 1;
}

.body {
  @include vars.fill;

  display: flex;
  flex-direction: column;
}

.meta {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  gap: vars.spacing(2);
  align-items: center;
  margin-left: vars.spacing(2);

  label {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    align-items: center;
    min-height: 0;

    span {
      padding-right: 1rem;
    }
  }
}

.contents {
  @include vars.fill;
  position: relative;

  display: flex;
  flex-direction: row;
  overflow-y: auto;
}

.no-flex,
.fixture-definition-list,
.group-list {
  flex-shrink: 0;
  overflow-y: auto;
}

.grow,
.group-editor,
.empty-pane {
  flex: 1;
  overflow-y: auto;
}

.splitPane {
  @include vars.fill;
}

.pane {
  box-sizing: border-box;
  max-width: 100%;
  min-height: 100%;
  padding: vars.spacing(2);
  border: 1px solid transparent;
}

.highlight-drop {
  border-color: vars.$col-interactive;
}

.editor-wrapper {
  height: 100vh;
}

.editor {
  display: flex;
  flex-direction: column;
  gap: vars.spacing(2);
  min-width: 60em;

  .editor-metadata {
    display: flex;
    flex-direction: row;
    gap: vars.spacing(2);
    padding-top: vars.spacing(1);

    * {
      flex-shrink: 0;
    }

    .spacer {
      flex: 1;
    }
  }

  th,
  td {
    padding: vars.spacing(1);
  }
}

.empty-pane {
  display: flex;
  align-items: center;
  justify-content: center;
  color: vars.$col-text-dim;
}

.group-list {
  border-right: 1px solid vars.$col-border;

  ul {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    list-style: none;
  }

  li {
    padding: vars.spacing(1) vars.spacing(2);
    cursor: pointer;

    &.selected {
      background: linear-gradient(to right, vars.$col-bg-active, transparent);
    }

    &:hover {
      background-color: vars.$col-bg-active;
    }
  }

  button {
    margin: vars.spacing(1) vars.spacing(2);
  }
}

.group-editor {
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: space-between;
    min-height: 0;
    margin: vars.spacing(1);
  }

  .members {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: vars.spacing(1);
  }

  .inMembers,
  .outMembers {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: calc(50% - vars.spacing(1));
    height: 100%;

    .list {
      flex: 1;
      margin: 0;
      padding: 0 vars.spacing(1);
      overflow-y: auto;
      list-style: none;
      border: 1px solid vars.$col-border-lower;
    }

    .listElement {
      cursor: grab;

      &:hover {
        background-color: vars.$col-bg-active;
      }
    }
  }

  .inMembers {
    right: 0;
  }

  .outMembers {
    left: 0;
  }
}

.universe-grid {
  display: grid;
  grid-template-columns: repeat(10, auto);
  gap: vars.spacing(1);
  padding: vars.spacing(1);

  .channel {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: $channel-size;
    height: $channel-size;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: vars.$col-bg-higher;
    border: 1px solid transparent;
    border-radius: vars.$dim-border-radius;

    &.warning {
      border-color: vars.$col-warning;
    }

    &.start-channel {
      border-color: vars.$col-interactive;
      cursor: grab;

      &:hover {
        background-color: vars.$col-bg-higher-hover;
        border-color: vars.$col-interactive-hover;
      }
    }

    .channel-number {
      position: absolute;
      top: vars.spacing(0.5);
      left: vars.spacing(0.5);
      color: vars.$col-text-dim;
    }

    .fixture-title {
      box-sizing: border-box;
      max-width: 100%;
      padding: 0 vars.spacing(1);
      font-weight: bold;
    }

    .collision-warning {
      align-self: flex-start;
      box-sizing: border-box;
      padding: 0 vars.spacing(1);
      color: vars.$col-warning;
    }

    .channel-description {
      align-self: flex-start;
      box-sizing: border-box;
      padding: 0 vars.spacing(1);
    }

    .fixture-name {
      max-width: 100%;
      overflow: hidden;
      color: vars.$col-text-dim;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .channel-type {
      max-width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.fixture-definition-list {
  padding: vars.spacing(2);
  border-left: 1px solid vars.$col-border;

  & h2 {
    margin: 0;
  }
}

.draggable {
  cursor: grab;
}

.hint {
  max-width: 20rem;
  color: vars.$col-text-dim;
  font-size: 10pt;
}

.enabled-toggle {
  display: inline-flex;
  margin: vars.spacing(1);
  vertical-align: middle;
}

.mode {
  display: flex;
  flex-direction: row;
  gap: vars.spacing(1);
  align-items: center;
  width: fit-content;
  padding: vars.spacing(1);
  list-style: none;
  background-color: vars.$col-bg-higher;
  border-radius: vars.$dim-border-radius;
  cursor: grab;

  &:hover {
    background-color: vars.$col-bg-higher-hover;
  }

  svg {
    color: vars.$col-text-dim;
  }
}
