.wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  inset: 0;
}

.tabWrapper {
  flex: 1;
}

.patch {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  gap: var(--space-2);
  align-items: flex-end;
  min-height: 0;
  padding: var(--space-1);
}

.body {
  position: absolute;

  display: flex;
  flex-direction: column;
  inset: 0;
}

.meta {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  gap: var(--space-2);
  align-items: center;
  min-height: 0;
  padding: var(--space-1) var(--space-2);
  border-bottom: 1px solid var(--col-border);

  label {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    align-items: center;
    min-height: 0;

    span {
      padding-right: 1rem;
    }
  }
}

.contents {
  display: flex;
  flex: 1;
  flex-direction: row;
  overflow-y: auto;
}

.group-contents {
  position: absolute;
  display: flex;
  flex-direction: row;
  inset: 0;
}

.no-flex,
.fixture-definition-list,
.group-list {
  flex-shrink: 0;
  overflow-y: auto;
}

.grow,
.group-editor,
.empty-pane {
  flex: 1;
  overflow-y: auto;
}

.splitPane {
  position: absolute;
  inset: 0;
}

.pane {
  box-sizing: border-box;
  max-width: 100%;
  min-height: 100%;
  padding: var(--space-2);
  border: 1px solid transparent;
}

.highlight-drop {
  border-color: var(--col-interactive);
}

.editor-wrapper {
  height: 100vh;
}

.editor {
  display: flex;
  flex-direction: column;
  min-width: 60em;

  .editor-metadata {
    display: flex;
    flex-direction: row;
    gap: var(--space-2);
    align-items: center;
    padding: var(--space-1);

    * {
      flex-shrink: 0;
    }

    .spacer {
      flex: 1;
    }
  }

  th,
  td {
    padding: var(--space-1);
  }
}

.empty-pane {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--col-text-dim);
}

.group-list {
  border-right: 1px solid var(--col-border);

  ul {
    margin: 0;
    padding: 0;
    font-size: var(--dim-text-size-xl);
    list-style: none;
  }

  li {
    padding: var(--space-1) var(--space-2);
    cursor: pointer;

    &.selected {
      background: linear-gradient(to right, var(--col-bg-active), transparent);
    }

    &:hover {
      background-color: var(--col-bg-active);
    }
  }

  button {
    margin: var(--space-1) var(--space-2);
  }
}

.fixture-definition-list {
  padding: var(--space-2);
  border-left: 1px solid var(--col-border);

  & h2 {
    margin: 0;
  }
}

.draggable {
  cursor: grab;
}

.hint {
  max-width: 15rem;
  color: var(--col-text-dim);
  font-size: var(--dim-text-size-sm);
}

.enabled-toggle {
  display: inline-flex;
  margin: var(--space-1);
  vertical-align: middle;
}

.mode {
  display: flex;
  flex-direction: row;
  gap: var(--space-1);
  align-items: center;
  width: fit-content;
  padding: var(--space-1);
  list-style: none;
  background-color: var(--col-bg-higher);
  border-radius: var(--dim-border-radius);
  cursor: grab;

  &:hover {
    background-color: var(--col-bg-higher-hover);
  }

  svg {
    color: var(--col-text-dim);
  }
}
