@use '../_vars';

.browser {
  position: absolute;
  inset: 0;
}

.splitPane {
  position: absolute;
  inset: 0;
}

.audioFileList {
  position: absolute;
  border: 1px solid transparent;
  inset: 0;
}

.faint {
  color: vars.$col-text-dim;
}

.highlight-drop {
  border-color: vars.$col-interactive;
}

.audio-details {
  padding: vars.spacing(1);
}
