@use '../_vars';

.browser {
  @include vars.fill;
}

.splitPane {
  @include vars.fill;
}

.audioFileList {
  @include vars.fill;
  border: 1px solid transparent;
}

.faint {
  color: vars.$col-text-dim;
}

.highlight-drop {
  border-color: vars.$col-interactive;
}

.audio-details {
  padding: vars.spacing(1);
}
