@use '../_vars';

.wrapper {
  position: absolute;

  padding: vars.spacing(1);
  inset: 0;
}

.mappings {
  tr {
    background-color: transparent;
    transition: background-color 1s;

    &.active {
      background-color: vars.$col-bg-active;
      transition: background-color 0s;
    }
  }

  td {
    padding: vars.spacing(1);
  }
}
