.tab-container {
  position: absolute;

  display: flex;
  flex-direction: column;
  inset: 0;
}

.header {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  gap: var(--space-2);
  align-items: center;
  justify-content: space-between;
  margin-top: var(--space-1);
  h2,
  h3 {
    margin: var(--space-1) 0;
  }
}

.body {
  position: absolute;

  display: flex;
  flex-direction: row;
  min-height: 0;
  inset: 0;
}

.grid-wrapper {
  flex: 1;
  overflow: auto;
}

.palettes {
  flex-shrink: 0;
  overflow-y: auto;
  border-left: 1px solid var(--col-border);

  > button {
    display: flex;
    box-sizing: border-box;
    width: calc(100% - var(--space-2));
    margin: var(--space-1) var(--space-1);
  }
}

.editor-body {
  display: flex;
  flex-direction: row;
  height: 100%;
  border-top: 1px solid var(--col-border);

  .meta-pane {
    flex-shrink: 0;
    padding: 0 var(--space-2);
    overflow-y: auto;
    border-right: 1px solid var(--col-border);

    .row {
      display: flex;
      flex-direction: row;
      gap: var(--space-4);
      align-items: baseline;
      justify-content: space-between;
      box-sizing: border-box;
      width: 100%;
      padding: var(--space-1) 0;

      > label {
        flex-shrink: 0;
      }

      > input,
      > div {
        flex: 1;
        min-width: 0;
      }
    }

    .audio-row {
      display: flex;
      flex-direction: row;
      gap: var(--space-1);
      align-items: center;
      padding: var(--space-1) 0;
    }
  }
}
