@use '../_vars';

.tab-container {
  @include vars.fill;

  display: flex;
  flex-direction: column;
}

.add-component {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 600px;

  .add-component-description {
    grid-row: 1 / 2;
    margin: vars.spacing(3);
  }

  button {
    grid-row: 2 / 3;
    justify-self: center;
  }
}

.header {
  h2,
  h3 {
    margin: vars.spacing(1) 0;
  }

  align-items: center;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  gap: vars.spacing(2);
  justify-content: space-between;
}

.beat {
  flex-shrink: 0;
}

.body {
  @include vars.fill;

  display: flex;
  flex-direction: row;
  min-height: 0;
}

.grid-wrapper {
  flex: 1;
  overflow: auto;
}

.palettes {
  border-left: 1px solid vars.$col-border;
  flex-shrink: 0;
  overflow-y: auto;

  > button {
    box-sizing: border-box;
    margin: vars.spacing(1);
    width: calc(100% - vars.spacing(2));
  }
}

.add-tile {
  max-width: 30em;
}

.add-tile-description {
  margin: vars.spacing(2) 0 vars.spacing(1) 0;
}

.editor-body {
  display: flex;
  flex-direction: row;

  .meta-pane {
    border-right: 1px solid vars.$col-border;
    flex-shrink: 0;
    overflow-y: auto;
    padding: vars.spacing(1);

    .row {
      align-items: baseline;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      gap: vars.spacing(4);
      justify-content: space-between;
      padding: vars.spacing(1) 0;
      width: 100%;

      > label {
        flex-shrink: 0;
      }

      > input,
      > div {
        flex: 1;
        min-width: 0;
      }
    }
  }

  .details-pane {
    left: 1px solid vars.$col-border;
    display: flex;
    flex-direction: row;
    flex: 1;
    overflow-x: auto;
  }
}

.effect {
  border-right: 1px solid vars.$col-border;
  flex-shrink: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: vars.spacing(1) vars.spacing(2);
}

.new-effect {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  height: 100%;
  justify-content: center;
  padding: vars.spacing(2);
}

.state-header {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: vars.spacing(2) 0;

  & > * {
    flex: 1;
  }
}
