@use '../_vars';

.beat-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: vars.spacing(2);
  color: vars.$col-bg;
  font-size: 24px;
  background-color: vars.$col-accent;
}

.button-row {
  display: flex;
  flex-direction: row;
  gap: vars.spacing(2);
  align-items: center;
  justify-content: space-between;
  margin: vars.spacing(1) 0;
}
