@use '../_vars';

.color-swatch {
  width: 24px;
  min-width: 24px;
  height: 24px;
  min-height: 24px;
  border: 1px solid vars.$col-interactive;
  border-radius: 100%;

  &:hover {
    border-color: vars.$col-interactive-hover;
  }
}

.non-interactive {
  border: 1px solid vars.$col-text;

  &:hover {
    border-color: unset;
  }
}
