.root {
  position: relative;
  display: inline-block;
}

.input {
  width: 100%;
  margin: 0;

  &[data-popup-open] {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.clear-button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: var(--dim-text-size-md);
  border: none;
  aspect-ratio: 1/1;
}

.positioner {
  z-index: var(--z-index-popover);
}

.dropdown {
  box-sizing: border-box;
  min-width: var(--anchor-width);
  max-height: 300px;
  padding: var(--space-0-5);
  overflow: auto;
  color: var(--col-text);
  background-color: var(--col-bg-higher);
  border-radius: var(--dim-border-radius);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  outline: none;
  filter: drop-shadow(var(--drop-shadow));
}

.item {
  padding: var(--space-1);
  list-style: none;
  border-radius: calc(var(--dim-border-radius) / 2);
  outline: none;
  cursor: pointer;
  user-select: none;

  &:hover,
  &[data-highlighted] {
    background-color: var(--col-bg-active);
  }

  &[data-selected] {
    color: var(--col-interactive);
    font-weight: var(--font-weight-heavy);

    &:hover,
    &[data-highlighted] {
      color: var(--col-interactive-hover);
    }
  }
}

.category {
  &:not(:first-child) {
    margin-top: var(--space-1);
  }
}

.categoryLabel {
  padding: var(--space-1-5) var(--space-1) var(--space-1);
  color: var(--col-text-dim);
  font-weight: var(--font-weight-heavy);
  letter-spacing: 0.05em;
}
