.binding-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  padding: var(--space-1);
  background-color: transparent;
  transition: background-color 1s;

  &.active {
    background-color: var(--col-bg-active);
    transition: background-color 0s;
  }
}

.no-bindings,
.warning {
  box-sizing: border-box;
  width: 100%;
  padding: var(--space-1);
}

.warning {
  color: var(--col-warning);
}

.add-binding {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  margin: var(--space-2) 0;
}
