@use '../_vars';

.dropdown {
  @include vars.drop-shadow;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: vars.$z-index-menu;
  background-color: vars.$col-bg-higher;

  hr {
    border-color: vars.$col-border-higher;
  }
}

.item {
  display: flex;
  flex-direction: row;
  gap: vars.spacing(1);
  align-items: center;
  padding: vars.spacing(1) vars.spacing(2);
  color: vars.$col-interactive;
  text-wrap: nowrap;
  cursor: pointer;

  &:hover {
    color: vars.$col-interactive-hover;
  }

  .icon {
    width: 20px;
    height: 20px;
  }
}
