@use '../_vars';

.effect-state {
  display: grid;
  grid-template-columns: repeat(1fr);
  gap: vars.spacing(1);
  align-items: center;

  button,
  input,
  select {
    margin: 0;
  }

  label {
    gap: vars.spacing(2);
  }
}

.column-header {
  position: sticky;
  top: 0;
  padding: vars.spacing(1) 0;
  background-color: vars.$col-bg-higher;
  border-bottom: 1px solid vars.$col-border;
}

.state-row {
  display: flex;
  flex-direction: row;
  gap: vars.spacing(1);
  align-items: center;
  justify-content: space-between;

  .input {
    display: flex;
    flex: 1;
    flex-direction: row;
    gap: vars.spacing(1);
    justify-content: space-between;

    input[type='number'] {
      flex-shrink: 0;
      width: 3em;
    }

    input[type='range'] {
      flex: 1;
      width: 0;
    }
  }
}

.value {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  input {
    flex: 1;
  }

  button {
    flex-shrink: 0;
    min-width: 0;
  }
}

.custom-color {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.color-swatch {
  margin: vars.spacing(1) 0;
}

.add-button {
  width: 100%;
}

.custom-channels-title {
  margin-top: vars.spacing(1);
}
