@use 'sass:color';
@import '../_vars';

$handle-size: 30px;

.effect {
  background-color: $col-border;
  box-sizing: border-box;
  cursor: grab;

  .inner {
    background-color: color.scale($col-bg, $alpha: -20%);
    bottom: 2px;
    content: '';
    left: 2px;
    overflow: hidden;
    padding: spacing(1) - 2px;
    position: absolute;
    right: 2px;
    top: 2px;
    z-index: 1;

    .icons {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: spacing(0.5);
      height: 100%;
      position: relative;
      width: fit-content;
    }
  }

  &:hover {
    .dragStart,
    .dragEnd {
      opacity: 1;
    }
  }

  &.selected .inner {
    bottom: 8px;
    left: 8px;
    padding: spacing(1) - 8px;
    right: 8px;
    top: 8px;
  }
}

.effect-type {
  display: flex;
  flex-direction: row;
  gap: spacing(1);
}

.icon {
  background-color: $col-bg-higher;
  border-radius: 999px;
  display: flex;
  padding: spacing(0.5);
}

.drag-mask {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: $z-index-interactive-mask;
}

.drag-start {
  background-color: rgba(255, 255, 255, 0.1);
  border-right: 1px solid #ffffff;
  bottom: 0;
  cursor: w-resize;
  left: 0;
  max-width: 30%;
  opacity: 0;
  position: absolute;
  top: 0;
  width: $handle-size;
  z-index: 2;
}

.drag-end {
  background-color: rgba(255, 255, 255, 0.1);
  border-left: 1px solid #ffffff;
  bottom: 0;
  cursor: e-resize;
  max-width: 30%;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: $handle-size;
  z-index: 2;
}

.effect-details {
  display: flex;
  flex-direction: column;
  gap: spacing(1);

  & label {
    align-items: center;
    display: flex;
    flex-direction: row;

    & > * {
      flex: 1;
    }

    & > :last-child {
      flex: 0;
    }
  }

  & .toggle {
    width: 100%;
  }
}
