@use '../_vars';

$toggle-height: 24px;

.number-input {
  max-width: 5em;
}

.parse-error {
  border-bottom-color: vars.$col-warning;
}

.toggle-input {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;

  label {
    cursor: pointer;
    flex: 1;

    &:first-child {
      color: vars.$col-interactive;
      justify-content: left;
    }

    &:last-child {
      justify-content: right;
    }
  }

  .toggle-slide {
    flex-shrink: 0;
    margin: 0 vars.spacing(1);
  }

  &.enabled {
    .toggle-switch {
      left: $toggle-height;
    }

    label {
      &:first-child {
        color: unset;
      }

      &:last-child {
        color: vars.$col-interactive;
      }
    }
  }
}

.toggle-slide {
  @include vars.inset-shadow;

  background-color: #404040;
  border-radius: calc($toggle-height / 2);
  height: $toggle-height;
  position: relative;
  width: calc($toggle-height * 2);
}

.toggle-switch {
  border-radius: calc($toggle-height / 2);
  bottom: 0;
  height: $toggle-height;
  left: 0;
  position: absolute;
  top: 0;
  width: $toggle-height;
  background-color: vars.$col-interactive;

  &:hover {
    background-color: vars.$col-interactive-hover;
  }
}
