.number-input {
  max-width: 5em;
}

.parse-error {
  border-bottom-color: var(--col-warning);
}

.toggle-input {
  --toggle-height: 24px;

  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;

  label {
    flex: 1;
    cursor: pointer;

    &:first-child {
      justify-content: left;
      color: var(--col-interactive);
    }

    &:last-child {
      justify-content: right;
    }
  }

  .toggle-slide {
    flex-shrink: 0;
    margin: 0 var(--space-1);
  }

  &.enabled {
    .toggle-switch {
      left: var(--toggle-height);
    }

    label {
      &:first-child {
        color: unset;
      }

      &:last-child {
        color: var(--col-interactive);
      }
    }
  }
}

.toggle-slide {
  position: relative;
  width: calc(var(--toggle-height) * 2);
  height: var(--toggle-height);

  background-color: #404040;
  border-radius: calc(var(--toggle-height) / 2);
  box-shadow: var(--inset-shadow);
}

.toggle-switch {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: var(--toggle-height);
  height: var(--toggle-height);
  background-color: var(--col-interactive);
  border-radius: calc(var(--toggle-height) / 2);

  &:hover {
    background-color: var(--col-interactive-hover);
  }
}
