.editable-text {
  border-bottom: 1px dashed var(--col-border);
  cursor: text;
  pointer-events: auto;

  &:hover {
    border-bottom-color: var(--col-border-higher);
  }
}

.editable-input {
  min-width: 1ch;
  margin: 0;
  padding: 0;
  color: inherit;
  font: inherit;
  border-bottom: 1px dashed var(--col-interactive);
  outline: none;
  field-sizing: content;
}

.number-input {
  max-width: 5em;
}

.number-input-wrapper {
  position: relative;
}

.number-input-suffix {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 0.5em;
  color: var(--col-text-dim);
  user-select: none;
  pointer-events: none;
}

.parse-error {
  border-color: var(--col-warning) !important;
}
