@use '../_vars';

.layer {
  position: relative;
  height: 74px;
  overflow: hidden;
  background-color: vars.$col-bg;
  border-bottom: 1px solid vars.$col-border;

  &:nth-last-child(2) {
    border-bottom: none;
  }

  &:hover .delete-button {
    display: block;
  }
}

.delete-button {
  position: absolute;
  top: vars.spacing(0.5);
  left: vars.spacing(0.5);
  z-index: 1;
  display: none;
}

.effect,
.newEffect {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 0;
}

.newEffect {
  background-color: #ffffff;
}

.createMask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: vars.$z-index-interactive-mask;
}
