@use '../_vars';

.layer {
  background-color: vars.$col-bg;
  border-bottom: 1px solid vars.$col-border;
  height: 74px;
  overflow: hidden;
  position: relative;

  &:last-child {
    border-bottom: none;
  }
}

.effect,
.newEffect {
  bottom: 0;
  position: absolute;
  top: 0;
}

.newEffect {
  background-color: #ffffff;
}

.createMask {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: vars.$z-index-interactive-mask;
}
