@use '../_vars';

.wrapper {
  @include vars.fill;
}

.trackContainer {
  @include vars.fill;
  display: flex;
  flex-direction: column;

  .audioVisualizer,
  .timelineOptions {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;

    .left {
      flex-shrink: 0;
    }

    .right {
      flex: 1;
      min-width: 0;
    }
  }

  .lightTracks {
    flex: 1;
  }
}

.timelineOptions .right {
  display: flex;
  flex-direction: row;
  gap: vars.spacing(2);
  align-items: center;
  padding: vars.spacing(1) vars.spacing(2) vars.spacing(1) 0;
}

.lightTracks {
  position: relative;
  min-width: 0;

  .tracks {
    @include vars.fill;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.cursor {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 2;
  width: 0;
  border-left: 1px solid vars.$col-text;
  opacity: 0.5;
  pointer-events: none;
}

.meta {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: vars.spacing(1);
  box-sizing: border-box;
  padding: vars.spacing(1);
}

.new-output {
  display: flex;
  align-items: center;
  justify-content: row;
  padding: vars.spacing(2);
}

.effect-details,
.effect-details-placeholder {
  @include vars.fill;

  padding: vars.spacing(2);
}

.effect-details-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  color: vars.$col-text-dim;
}
