@use '../_vars';

.live-beat {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: vars.spacing(1);
}

.beat-indicator {
  align-items: center;
  background-color: vars.$col-accent;
  border-radius: 25%;
  color: vars.$col-bg;
  display: flex;
  justify-content: center;
  padding: vars.spacing(1);

  &.sampling {
    animation: gradient 1s ease infinite;
    background: vars.$col-interactive-hover;
  }
}
