@use '../_vars';

.live-beat {
  display: flex;
  flex-direction: row;
  gap: vars.spacing(1);
  align-items: center;
}

.beat-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: vars.spacing(1);
  color: vars.$col-bg;
  background-color: vars.$col-accent;
  border-radius: 25%;

  &.sampling {
    background: vars.$col-interactive-hover;
    animation: gradient 1s ease infinite;
  }
}
