@use '../_vars';

$header-height: 56px;

.wrapper {
  align-items: center;
  backdrop-filter: blur(2px);
  bottom: 0;
  cursor: default;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: vars.$z-index-modal;
}

.modal {
  @include vars.drop-shadow;

  background-color: vars.$col-bg-higher;
  border: none;
  box-sizing: border-box;
  color: vars.$col-text;
  display: flex;
  flex-direction: column;
  margin-top: $header-height;
  max-height: calc(100vh - $header-height);
  max-width: 100vw;

  &.full-screen {
    height: calc(100vh - vars.spacing(2));
    width: calc(100vw - vars.spacing(2));
  }
}

.header {
  align-items: center;
  border-bottom: 1px solid vars.$col-border;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  font-size: 24px;
  font-weight: 600;
  gap: vars.spacing(2);
  padding: vars.spacing(2);
  padding-right: vars.spacing(1);
}

.icon {
  display: flex;
  font-size: 36px;
  justify-content: center;
  margin-right: vars.spacing(1);
}

.main {
  flex: 1;
  overflow-y: auto;
  position: relative;
  padding: 0 vars.spacing(2);
}

.footer {
  border-top: 1px solid vars.$col-border;
  flex-shrink: 1;
  padding: vars.spacing(2);
}
