@use '../_vars';

$header-height: 56px;

.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: vars.$z-index-modal;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  cursor: default;
  backdrop-filter: blur(2px);
}

.modal {
  @include vars.drop-shadow;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 100vw;
  max-height: calc(100vh - $header-height);
  margin-top: $header-height;
  color: vars.$col-text;

  background-color: vars.$col-bg-higher;
  border: none;

  &.full-screen {
    width: calc(100vw - vars.spacing(2));
    height: calc(100vh - vars.spacing(2));
  }
}

.header {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  gap: vars.spacing(2);
  align-items: center;
  padding: vars.spacing(2);
  padding-right: vars.spacing(1);
  font-weight: 600;
  font-size: 24px;
  border-bottom: 1px solid vars.$col-border;
}

.icon {
  display: flex;
  justify-content: center;
  margin-right: vars.spacing(1);
  font-size: 36px;
}

.main {
  position: relative;
  flex: 1;
  padding: 0 vars.spacing(2);
  overflow-y: auto;
}

.footer {
  flex-shrink: 1;
  padding: vars.spacing(2);
  border-top: 1px solid vars.$col-border;
}
