@use '../_vars';

.palette-swatch {
  display: flex;
  flex-direction: row;
  gap: vars.spacing(1);
  align-items: center;
  padding: vars.spacing(1);
  cursor: pointer;
}

.active {
  background: linear-gradient(to left, vars.$col-bg-active, transparent);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.color-selectors {
  display: flex;
  flex-direction: row;
  gap: vars.spacing(2);
  justify-content: space-around;
  padding: vars.spacing(2);
}

.visualizer {
  position: relative;
  width: 433px;
  height: 433px;

  .gradient {
    position: absolute;
    width: 75%;
    mix-blend-mode: lighten;
    aspect-ratio: 1/1;
  }

  .primary {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  .secondary {
    top: 0;
    right: 0;
  }

  .tertiary {
    right: 0;
    bottom: 0;
  }
}
