.positioner {
  z-index: var(--z-index-popover);
}

.content {
  padding: var(--space-1);
  color: var(--col-text);

  background-color: var(--col-bg-higher);
  border-radius: var(--dim-border-radius);
  filter: drop-shadow(var(--drop-shadow));
}

.arrow {
  display: flex;
  &[data-side='top'] {
    bottom: -8px;
    rotate: 180deg;
  }
  &[data-side='bottom'] {
    top: -8px;
    rotate: 0deg;
  }
  &[data-side='left'] {
    right: -13px;
    rotate: 90deg;
  }
  &[data-side='right'] {
    left: -13px;
    rotate: -90deg;
  }
}

.arrow-fill {
  fill: var(--col-bg-higher);
}
