@use '../_vars';

.content {
  @include vars.drop-shadow;
  z-index: vars.$z-index-popover;
  padding: vars.spacing(1);
  color: vars.$col-text;

  background-color: vars.$col-bg-higher;
  border-radius: vars.$dim-border-radius;
}

.arrow {
  color: vars.$col-bg-higher;
}
