@use 'sass:color';
@use '../_vars';

.root {
  position: relative;
  display: inline-block;
}

.input {
  // padding-right: vars.spacing(4); // Make room for clear button
  width: 100%;
  margin: 0;
}

.clear-button {
  position: absolute;
  top: 50%;
  right: 1px;
  width: 32px !important;
  min-width: 32px !important;
  height: 32px !important;
  min-height: 32px !important;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  transform: translateY(-50%);
}

.dropdown {
  position: absolute;
  top: calc(100% + 4px);
  right: 0;
  left: 0;
  z-index: vars.$z-index-popover;
  box-sizing: border-box;
  max-height: 300px;
  overflow: auto;
  background-color: vars.$col-bg-higher;
  border: 1px solid vars.$col-border;
  border-radius: vars.$dim-border-radius;
  outline: none;
  @include vars.drop-shadow;

  // Custom scrollbar styling
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: vars.$col-scroll-track;
    border-radius: vars.$dim-border-radius;
  }

  &::-webkit-scrollbar-thumb {
    background: vars.$col-scroll-thumb;
    border-radius: vars.$dim-border-radius;

    &:hover {
      background: color.adjust(vars.$col-scroll-thumb, $lightness: 10%);
    }
  }
}

.list {
  margin: 0;
  padding: vars.spacing(0.5);
  list-style: none;
}

.item {
  padding: vars.spacing(1);
  list-style: none;
  border-radius: calc(vars.$dim-border-radius / 2);
  outline: none;
  cursor: pointer;
  user-select: none;

  &:hover {
    background-color: vars.$col-bg-active;
  }

  &.selected {
    color: vars.$col-interactive;
    font-weight: 500;

    &:hover {
      color: vars.$col-interactive-hover;
    }
  }
}

.category {
  &:not(:first-child) {
    margin-top: vars.spacing(1);
  }
}

.categoryLabel {
  padding: vars.spacing(1.5) vars.spacing(1) vars.spacing(1);
  color: vars.$col-text-dim;
  font-weight: 600;
  letter-spacing: 0.05em;
}
