@use '../_vars';

.sequence-editor {
  @include vars.fill;
}

.effect-details {
  margin: vars.spacing(1);
}

.new-layer-row {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: vars.spacing(1);
}
