@use '../_vars';

.sequence-editor {
  display: flex;
  flex-direction: row;
  inset: 0;
  position: absolute;

  .sequence {
    flex: 1;

    & > label {
      display: inline;
    }
  }

  .effect-details,
  .effect-details-placeholder {
    flex-shrink: 0;
    border: 1px solid vars.$col-border;
    padding: vars.spacing(2);
    overflow-y: auto;
    min-width: 351px;
  }
}

.layer-container {
  position: relative;
  margin-top: vars.spacing(1);
}

.verticalRules {
  @include vars.fill;

  display: flex;
  flex-direction: row;
  pointer-events: none;
  z-index: 0;
}

.rule,
.ruleFaint {
  align-self: stretch;
  border-right: 1px solid vars.$col-border;
  flex: 1;
  min-width: 0;

  &:last-child {
    border-right: none;
  }
}

.ruleFaint {
  border-right-style: dashed;
}

.new-layer-row {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: vars.spacing(1);
}
