@use '../_vars';

.wrapper {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid vars.$col-border;
}

.tabs {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  min-height: 0;
  padding: vars.spacing(1) vars.spacing(1) 0 vars.spacing(1);
}

.tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: -1px;
  padding: vars.spacing(1);
  border: 1px solid vars.$col-border-lower;
  border-bottom-color: transparent;
  border-top-left-radius: vars.$dim-border-radius;
  border-top-right-radius: vars.$dim-border-radius;
  cursor: pointer;

  &:hover {
    border-color: vars.$col-interactive-hover;
  }
}

.selected {
  border-color: vars.$col-border;
  border-bottom-color: vars.$col-bg !important;
}

.contents {
  position: relative;
  flex: 1;
}
