.wrapper {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--col-border);
}

.tabs {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  align-self: flex-end;
  min-height: 0;
  padding: 0 var(--space-1);
}

.tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: -1px;
  padding: var(--space-1);
  border: 1px solid var(--col-border-lower);
  border-bottom-color: transparent;
  border-top-left-radius: var(--dim-border-radius);
  border-top-right-radius: var(--dim-border-radius);
  cursor: pointer;

  &:hover {
    border-color: var(--col-interactive-hover);
  }
}

.selected {
  border-color: var(--col-border);
  border-bottom-color: var(--col-bg) !important;
}

.contents {
  position: relative;
  flex: 1;
}
