@use 'sass:math';
@use '../_vars';

$element-size: 100px;
$border-size: 8px;
$triangle-diag: 45px;

.tile-grid {
  display: grid;
  grid-template-rows: repeat(auto-fill, $element-size);
  grid-template-columns: repeat(auto-fill, $element-size);
  gap: vars.spacing(1);
  margin: vars.spacing(1);
}

.tile {
  touch-action: none;
}

.tile,
.tile-placeholder {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: $element-size;
  height: $element-size;
  overflow: hidden;
  background-color: vars.$col-bg-tile;
  cursor: pointer;
  transition: 200ms box-shadow;

  &:hover,
  &:hover .priority {
    background-color: vars.$col-bg-tile-hover;
  }

  .active-gage {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: $border-size;
    box-shadow: inset (-$border-size) 0 $border-size (-$border-size) #000;

    & > * {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: vars.$col-accent;
      transition: 50ms top ease-out;
    }
  }

  .settings-triangle {
    position: absolute;
    top: math.div(-$triangle-diag, 2);
    right: math.div(-$triangle-diag, 2);
    width: $triangle-diag;
    height: $triangle-diag;
    background-color: vars.$col-bg-triangle;
    transform: rotate(-45deg);
    transform-origin: 50% 50%;

    &:hover {
      background-color: vars.$col-bg-triangle-hover;
    }
  }

  .title {
    position: absolute;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: vars.spacing(1);
    overflow: hidden;
    font-weight: 600;
    font-size: 12pt;
    text-align: center;
    text-shadow:
      0 0 1px #000,
      0 0 2px #000,
      0 0 4px #000;
    border-radius: 100%;
    pointer-events: none;
    inset: $border-size;
  }

  .wled {
    position: absolute;
    z-index: -1;
    background-image: url('/wled.svg');
    background-size: cover;
    pointer-events: none;
    inset: vars.spacing(1);
  }

  .priority {
    position: absolute;
    top: 0;
    left: $border-size;
    z-index: 1;
    flex-shrink: 0;
    padding: vars.spacing(0.5);
    color: vars.$col-text-dim;
    font-size: 10pt;
    background-color: vars.$col-bg-higher;
    border-radius: vars.spacing(1);
  }

  .controller {
    position: absolute;
    right: vars.spacing(0.5);
    bottom: -12px;
    flex-shrink: 0;
    font-size: 20pt;
  }
}
