@use 'sass:math';
@use '../_vars';

$element-size: 100px;
$border-size: 2px;
$triangle-diag: 40px;

.tile-grid {
  display: grid;
  gap: vars.spacing(1);
  grid-template-columns: repeat(auto-fill, $element-size);
  grid-template-rows: repeat(auto-fill, $element-size);
  margin: vars.spacing(1);
}

.tile-placeholder {
  cursor: pointer;

  &:hover {
    background-color: vars.$col-bg-placeholder-hover;
  }
}

.tile,
.tile-placeholder {
  border-radius: vars.$dim-border-radius;
  box-sizing: border-box;
  cursor: pointer;
  height: $element-size;
  position: relative;
  width: $element-size;
  transition: 200ms box-shadow;

  &.pressed {
    box-shadow:
      0 0 16px vars.$col-accent,
      0 0 8px vars.$col-accent;
  }

  .contents {
    align-items: center;
    background-color: vars.$col-bg-higher;
    border-radius: vars.$dim-border-radius;
    bottom: $border-size;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: $element-size - $border-size * 2;
    justify-content: center;
    left: $border-size;
    overflow: hidden;
    position: absolute;
    right: $border-size;
    top: $border-size;
    width: $element-size - $border-size * 2;
    z-index: 1;
  }

  .border {
    background-color: vars.$col-accent;
    border-radius: vars.$dim-border-radius;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
  }

  .settings-triangle {
    background-color: vars.$col-border;
    width: $triangle-diag;
    height: $triangle-diag;
    position: absolute;
    right: math.div(-$triangle-diag, 2);
    top: math.div(-$triangle-diag, 2);
    transform-origin: 50% 50%;
    transform: rotate(-45deg);

    &:hover {
      background-color: vars.$col-border-higher;
    }
  }

  .title {
    align-items: center;
    border-radius: 100%;
    box-sizing: border-box;
    display: flex;
    font-size: 12pt;
    font-weight: 600;
    height: calc(100% - vars.spacing(1));
    justify-content: center;
    overflow: hidden;
    padding: vars.spacing(1);
    text-align: center;
    text-shadow:
      0 0 1px #000,
      0 0 2px #000,
      0 0 4px #000;
    width: calc(100% - vars.spacing(1));
    z-index: 0;
  }

  .wled {
    background-image: url('/wled.svg');
    background-size: cover;
    bottom: vars.spacing(1);
    left: vars.spacing(1);
    pointer-events: none;
    position: absolute;
    right: vars.spacing(1);
    top: vars.spacing(1);
    z-index: -1;
  }

  .priority {
    bottom: vars.spacing(0.5);
    color: vars.$col-text-dim;
    flex-shrink: 0;
    font-size: 10pt;
    left: vars.spacing(0.5);
    position: absolute;
  }

  .controller {
    bottom: -12px;
    font-size: 20pt;
    flex-shrink: 0;
    position: absolute;
    right: vars.spacing(0.5);
  }
}
