@use 'sass:color';
@use '../_vars';

$handle-size: 30px;

.effect {
  box-sizing: border-box;
  background-color: vars.$col-border;
  cursor: grab;

  .inner {
    content: '';
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    z-index: 1;
    padding: vars.spacing(1) - 2px;
    overflow: hidden;
    background-color: color.scale(vars.$col-bg, $alpha: -20%);

    .icons {
      position: relative;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: vars.spacing(0.5);
      width: fit-content;
      height: 100%;
    }
  }

  &:hover {
    .dragStart,
    .dragEnd {
      opacity: 1;
    }
  }

  &.selected .inner {
    top: 8px;
    right: 8px;
    bottom: 8px;
    left: 8px;
    padding: vars.spacing(1) - 8px;
  }
}

.effect-type {
  display: flex;
  flex-direction: row;
  gap: vars.spacing(1);
}

.icon {
  display: flex;
  padding: vars.spacing(0.5);
  background-color: vars.$col-bg-higher;
  border-radius: 999px;
}

.drag-mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: vars.$z-index-interactive-mask;
}

.drag-start {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: $handle-size;
  max-width: 30%;
  background-color: rgba(255, 255, 255, 0.1);
  border-right: 1px solid #ffffff;
  cursor: w-resize;
  opacity: 0;
}

.drag-end {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  width: $handle-size;
  max-width: 30%;
  background-color: rgba(255, 255, 255, 0.1);
  border-left: 1px solid #ffffff;
  cursor: e-resize;
  opacity: 0;
}

.effect-details {
  display: flex;
  flex-direction: column;
  gap: vars.spacing(1);

  & label {
    display: flex;
    flex-direction: row;
    align-items: center;

    & > * {
      flex: 1;
    }

    & > :last-child {
      flex: 0;
    }
  }

  & .toggle {
    width: 100%;
  }
}

.sequence-editor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
