@use '../_vars';

@keyframes wiggle {
  0% {
    transform: translate(2px, 2px);
  }
  25% {
    transform: translate(-2px, 2px);
  }
  50% {
    transform: translate(-2px, -2px);
  }
  75% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(2px, 2px);
  }
}

.element {
  cursor: pointer;
  transition: 500ms box-shadow;
  user-select: none;
  -webkit-user-select: none;
}

.click {
  box-shadow:
    0 0 16px vars.$col-accent,
    0 0 8px vars.$col-accent;
  cursor: grab;
}

.press {
  animation: wiggle 300ms infinite;
  box-shadow:
    0 0 16px white,
    0 0 8px white;
  cursor: grabbing;
  touch-action: none;
  transition: 50ms box-shadow;
}

.drag {
  animation: wiggle 300ms infinite;
  box-shadow:
    0 0 16px white,
    0 0 8px white;
  cursor: grabbing;
  touch-action: none;
}
