@use '../_vars';

$dot-size: 20px;

.wrapper {
  display: flex;
  flex-direction: row;
  gap: vars.spacing(1);
  justify-content: center;
  margin: 0;
}

.visualizer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.visualizer-dot {
  width: $dot-size;
  height: $dot-size;
  margin: vars.spacing(0.5);
  border-radius: calc($dot-size / 4);
}

.visualizer-segment {
  width: $dot-size;
  height: $dot-size;
  margin: 0 1px;

  &:first-child {
    border-top-left-radius: vars.$dim-border-radius;
    border-bottom-left-radius: vars.$dim-border-radius;
  }

  &:nth-last-child(3) {
    border-top-right-radius: vars.$dim-border-radius;
    border-bottom-right-radius: vars.$dim-border-radius;
  }
}

.fps,
.warning {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  margin: 0;
  padding: 0;
  color: vars.$col-text-dim;
}

.warning {
  color: vars.$col-warning;
}
