@use '../_vars';

$dot-size: 20px;

.wrapper {
  margin: 0 vars.spacing(1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: vars.spacing(1);
}

.visualizer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.visualizer-dot {
  border-radius: calc($dot-size / 4);
  height: $dot-size;
  width: $dot-size;
  margin: vars.spacing(0.5);
}

.visualizer-segment {
  height: $dot-size;
  margin: 0 1px;
  width: $dot-size;

  &:first-child {
    border-bottom-left-radius: vars.$dim-border-radius;
    border-top-left-radius: vars.$dim-border-radius;
  }

  &:nth-last-child(2) {
    border-bottom-right-radius: vars.$dim-border-radius;
    border-top-right-radius: vars.$dim-border-radius;
  }
}

.fps {
  align-items: center;
  color: vars.$col-text-dim;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 2.5em;
}

.warning {
  color: vars.$col-warning;
}
