@import '../vars';

.base-button {
  align-items: center;
  border-radius: spacing(1);
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: inline-flex;
  min-height: 24px + spacing(2);
  outline: none;
}

.button {
  font-size: 18px;
  padding: spacing(1) spacing(2);

  .icon {
    font-size: 24px;
    height: 24px;
    left: spacing(-1);
    position: relative;
    width: 24px;
  }
}

.icon-button {
  font-size: 24px;
  height: 24px + spacing(2);
  width: 24px + spacing(2);
}

.default-variant {
  background-color: transparent;
  border-color: $col-interactive;
  color: $col-interactive;

  &:active,
  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: $col-interactive-hover;
    color: $col-interactive-hover;
  }
}

.primary-variant {
  background-color: $col-interactive;
  border-color: $col-interactive;
  color: $col-bg;

  &:active,
  &:hover {
    background-color: $col-interactive-hover;
    border-color: $col-interactive-hover;
  }
}