@import '../vars';

$element-size: 100px;
$triangle-diag: 40px;

.component-grid {
  display: grid;
  gap: spacing(1);
  grid-template-columns: repeat(auto-fill, $element-size);
  grid-template-rows: repeat(auto-fill, $element-size);
  margin: 0 spacing(1) spacing(1);
}

.component-placeholder {
  cursor: pointer;

  &:hover {
    background-color: $col-bg-placeholder-hover;
  }
}

.component,
.component-placeholder {
  align-items: center;
  background-color: $col-bg-higher;
  border-radius: $dim-border-radius;
  border: 4px solid transparent;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: $element-size;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: $element-size;

  &.active {
    border-color: $col-accent;
  }

  &.dragging {
    border-color: $col-border;
    border-style: dashed;
  }

  .settings-triangle {
    background-color: $col-border;
    width: $triangle-diag;
    height: $triangle-diag;
    position: absolute;
    right: -$triangle-diag / 2;
    top: -$triangle-diag / 2;
    transform-origin: 50% 50%;
    transform: rotate(-45deg);

    &:hover {
      background-color: $col-border-higher;
    }
  }

  .title {
    box-sizing: border-box;
    font-size: 14pt;
    overflow: hidden;
    padding: spacing(1);
    text-align: center;
    width: 100%;
  }

  .priority {
    bottom: spacing(0.5);
    color: $col-text-dim;
    flex-shrink: 0;
    font-size: 10pt;
    left: spacing(0.5);
    position: absolute;
  }
}
