@import '../vars';

.editor {
  display: flex;
  flex-direction: column;
  gap: spacing(2);
  min-width: 40em;

  th,
  td {
    padding: spacing(1);
  }
}

.dialog-footer {
  padding-top: spacing(1);
}

.row {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: spacing(2);
}

.draggable {
  cursor: grab;
}
