@import '../_vars';

.effect-state {
  align-items: center;
  display: grid;
  gap: spacing(1);
  grid-template-columns: repeat(1fr);
}

.state-row {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: spacing(1);
  justify-content: space-between;

  .input {
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: spacing(1);
    justify-content: space-between;

    input[type='number'] {
      width: 3em;
      flex-shrink: 0;
    }

    input[type='range'] {
      flex: 1;
      width: 0;
    }
  }
}

.value {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  input {
    flex: 1;
  }

  button {
    flex-shrink: 0;
    min-width: 0;
  }
}

.custom-color {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.color-swatch {
  margin: spacing(1) 0;
}

.add-button {
  width: 100%;
}

.custom-channels-title {
  margin-top: spacing(1);
}
