@import '../vars';

.palette-swatch {
  align-items: center;
  border-radius: $dim-border-radius;
  border: 1px solid transparent;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: spacing(1);
  padding: spacing(1);
}

.active {
  border-color: $col-accent;
}

.color-selectors {
  display: flex;
  justify-content: space-around;
  padding: spacing(2);
}
