@import '../vars';

.palette-swatch {
  align-items: center;
  border-radius: $dim-border-radius;
  border: 1px solid transparent;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: spacing(1);
  padding: spacing(1);
}

.active {
  border-color: $col-accent;
}

.primary {
  border-radius: $dim-border-radius;
  height: 20px;
  width: 20px;
}

.secondary {
  border-radius: $dim-border-radius;
  height: 16px;
  width: 16px;
}

.tertiary {
  border-radius: $dim-border-radius;
  height: 12px;
  width: 12px;
}

.color-selectors {
  display: flex;
  flex-direction: row;
}