@import '../vars';

.scene-editor {
  position: relative;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: spacing(1);
  margin: spacing(1);
}

.activate-button {
  width: 6em;
}

.component-list {
  border-collapse: collapse;
  user-select: none;

  td {
    padding: spacing(0.5) spacing(1);

    .switch {
      display: inline-flex;
    }
  }

  .drag-handle {
    align-items: center;
    color: $col-text-dim;
    cursor: ns-resize;
    display: flex;
    justify-content: center;
  }

  .shortcut {
    box-sizing: border-box;
    height: 40px;
    width: 40px;
  }

  select {
    flex: 1;
  }
}
