@import "../vars";

.browser {
  @include fill;
}

.splitPane {
  @include fill;
}

.audioFileList {
  @include fill;
  border: 1px solid transparent;
}

.faint {
  color: $col-text-dim;
}

.highlight-drop {
  border-color: $col-interactive;
}

.audio-details {
  padding: spacing(1);
}
