@import '../vars';

.wrapper {
  @include fill;
}

.editor-pane {
  @include fill;

  display: flex;
  flex-direction: column;

  .beat {
    flex-shrink: 0;
  }
}

.header {
  display: flex;
  flex-shrink: 0;
}

.universe-sequence-editor,
.scene-editor {
  flex: 1;
}
