@import '../vars';

.wrapper {
  @include fill;
}

.splitPane {
  @include fill;
}

.pane {
  border: 1px solid transparent;
  box-sizing: border-box;
  padding: spacing(2);
  min-height: 100%;

  li {
    color: $col-interactive;
    cursor: pointer;

    &:hover {
      color: $col-interactive-hover;
    }
  }
}

.highlight-drop {
  border-color: $col-interactive;
}

.editor {
  display: flex;
  flex-direction: column;
  gap: spacing(2);
  min-width: 40em;

  th, td {
    padding: spacing(1);
  }
}

.dialog-footer {
  padding-top: spacing(1);
}

.row {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: spacing(2);
}

.draggable {
  cursor: grab;
}

.hint {
  color: $col-text-dim;
  font-size: 10pt;
}
