@use 'sass:color';

$col-accent: #11a2ca;
$col-warning: #b02461;
$col-midi: #7216c8;

$col-bg: #111;
$col-bg-higher: #1a1a1a;
$col-bg-higher-hover: color.adjust($col-bg-higher, $lightness: 10%);
$col-bg-active: color.adjust($col-accent, $lightness: -18%);
$col-bg-active-lower: color.adjust($col-accent, $lightness: -25%);
$col-bg-placeholder: $col-bg-higher;
$col-bg-placeholder-hover: color.adjust($col-bg-placeholder, $lightness: 10%);
$col-text: #ffffff;
$col-text-dim: #8f8f8f;
$col-border: #333333;
$col-border-higher: #555555;
$col-border-lower: #222222;
$col-scroll-thumb: #666666;
$col-scroll-track: #333333;
$col-interactive: color.adjust($col-accent, $lightness: 20%);
$col-interactive-hover: color.adjust($col-accent, $lightness: 50%);
$col-disabled: color.adjust($col-interactive, $saturation: -100%);
$col-warning-hover: color.adjust($col-warning, $lightness: 50%);

$dim-border-radius: 8px;

$mask-blur: blur(2px);

$z-index-header: 20;
$z-index-menu: 40;
$z-index-modal: 80;
$z-index-popover: 100;
$z-index-interactive-mask: 9999;

@function spacing($amount) {
  @return $amount * 8px;
}

@mixin fill {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

@mixin drop-shadow {
  box-shadow: 0 0 8px #000000;
}

@mixin inset-shadow {
  box-shadow: inset 0 0 4px #000000;
}

@mixin gradient-border($border-color, $bg-color, $width) {
  &:before {
    background-color: $bg-color;
    border-radius: inherit;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }

  &:after {
    background: $border-color;
    border-radius: inherit; /* !importanté */
    bottom: 0;
    content: '';
    left: 0;
    margin: -$width; /* !importanté */
    position: absolute;
    right: 0;
    top: 0;
    z-index: -2;
  }
}
