@use 'sass:color';
@use './_vars';

html {
  overflow-x: hidden;
  color: vars.$col-text;
  font-weight: 300;
  font-size: 11pt;
  font-family: 'Roboto', sans-serif;
  background-color: vars.$col-bg-higher;
  scrollbar-color: vars.$col-scroll-thumb vars.$col-scroll-track;
  scrollbar-width: thin;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

hr {
  display: block;
  height: 1px;
  margin: 0;
  padding: 0;
  border-top: 1px solid vars.$col-border;
  border-right: none;
  border-bottom: none;
  border-left: none;
}

a {
  color: vars.$col-interactive;
  font-weight: 600;
  text-decoration: none;

  &:hover {
    color: vars.$col-interactive-hover;
  }

  &.active {
    color: vars.$col-text;
  }
}

button,
input,
textarea,
select {
  box-sizing: border-box;
  margin: 0 vars.spacing(1);
  padding: vars.spacing(1) vars.spacing(1.5);
  color: vars.$col-text;
  background-color: transparent;
  border: 1px solid vars.$col-border-higher;
  border-radius: vars.$dim-border-radius;
  outline: none;

  &:active,
  &:focus {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: vars.$col-interactive;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: vars.$col-interactive-hover;
  }

  &::placeholder {
    color: vars.$col-text-dim;
  }

  &:disabled {
    color: vars.$col-text-dim !important;
    background-color: transparent !important;
    border-color: vars.$col-border-disabled !important;
    cursor: default !important;
  }
}

button {
  padding: vars.spacing(1);
}

select {
  padding-right: 2rem; /* Spacing for the caret */

  /* Caret */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' viewBox='0 0 16 16'%3E%3Cpath d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .858 1.658l-4.796 5.48a1 1 0 0 1-1.506 0z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 0.75rem 0.75rem;
  cursor: pointer;
  -webkit-appearance: none; /* For WebKit-based browsers like Android WebView */
  -moz-appearance: none; /* For Firefox */
  appearance: none; /* Standard property */
}

li {
  margin: vars.spacing(1) 0;
}

table {
  background-color: vars.$col-bg;
  border-collapse: collapse;
}

th {
  position: sticky;
  top: 0;
  z-index: 1;
  padding: vars.spacing(1) 0;
  font-weight: unset;
  font-size: unset;
  text-align: left;
  background-color: vars.$col-bg;
}

.wrapper {
  @include vars.fill;
  display: flex;
  flex-direction: column;
  gap: vars.spacing(1);
  padding: vars.spacing(1);

  header {
    position: relative;
    z-index: vars.$z-index-menu;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    gap: vars.spacing(1);
    align-items: center;
    min-height: 0;
    background-color: vars.$col-bg-higher;

    & > * {
      z-index: 1;
    }

    h1 {
      position: absolute;
      top: 0;
      left: 50%;
      z-index: 0;
      margin: 0;
      color: vars.$col-border;
      font-weight: 800;
      font-size: 28px;
      font-family: 'Tomorrow', sans-serif;
      text-wrap: nowrap;
      transform: translateX(-50%);
      user-select: none;
    }
  }

  main {
    position: relative;
    flex: 1;
    overflow-y: auto;
    background-color: vars.$col-bg;
    border-radius: vars.spacing(1);
  }

  footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.menu {
  position: relative;
  height: 32px;
  cursor: pointer;

  &:hover {
    color: vars.$col-interactive-hover;
  }
}

.menu-icon {
  width: 32px;
  height: 32px;
}

.fps {
  flex-shrink: 0;
  color: vars.$col-text-dim;
  font-size: 10pt;
}

.message {
  flex-shrink: 1;
  overflow: hidden;
  color: vars.$col-text-dim;
  font-size: 10pt;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.welcome-dialog {
  max-width: 40em;
}

.warning {
  color: vars.$col-warning;
}

.button-row {
  display: flex;
  flex-direction: row;
  gap: vars.spacing(2);
  align-items: center;
  justify-content: space-between;
  margin: vars.spacing(1) 0;
}
