name: CI

on: [pull_request, workflow_dispatch]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v5

      - name: Setup
        uses: ./.github/setup

      - name: Build
        run: pnpm build

      - name: Test
        run: pnpm test
