name: Deploy App

on:
  push:
    branches:
      - main
  workflow_call:
  workflow_dispatch:

jobs:
  setup:
    name: Setup
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - uses: ./.github/setup

  build:
    name: Build
    needs: setup
    runs-on: ubuntu-latest

    steps:
      - name: Build
        env:
          NODE_ENV: production
        run: pnpm run build

      - name: Upload pages
        uses: actions/upload-pages-artifact@master
        with:
          path: dist

  deploy:
    name: Deploy

    needs: build

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
